.config-nav-block.typesense-tab strong:before {
    background: url(../images/typesense-icon.png) no-repeat !important;
    width: 30px;
    height: 30px;
    content: '';
    display: inline-block;
    margin-right: 12px;
    vertical-align: middle;

}

.typesense-config-warning {
    font-size: 30px;
    color: #D83900;
    position: relative;
    top: 6px;
}

.typesense-admin-content {
    margin-bottom: 2rem;
}

#menu-monogo-typesense-typesense {
    > a:before {
        background: url(../images/typesense-inverted.png) no-repeat center;
        background-size: contain;
        content: '';
    }

    > a:hover:before,
    ._show > a:before {
        background: url(../images/typesense-inverted.png) no-repeat center;
        background-size: contain;
    }
}
