<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Monogo_Typesense::menu" title="Typesense Menu" translate="title" sortOrder="9000"/>
                <resource id="Monogo_Typesense::config" title="Typesense Configuration" translate="title" sortOrder="9000"/>
            </resource>
        </resources>
    </acl>
</config>
